<div class="container-outer">
    <div class="home-button">
        <button
        (click)="moveToHomePage()"
        >Home</button>
    </div>
    <div class="container-inner">
        <div class="uppar-inner-container">
            <div class="compound-name">
                <h2>  {{compoundData.name}}</h2>
                  
            </div>
            <div class="compound-image">
                <img [src]="compoundData.image" alt="Image Description">
            </div>
        </div>
        <div class="lower-inner-container">
            <p>{{compoundData.description}}</p>
        </div>
        <div class="edit-options">
            <div class="delete-button">
                <button 
                (click)="deleteCompound(compoundData)"
                >Delete</button>
            </div>
            <div class="update-button">
                <button
                (click)="updateCompound(compoundData)"
                >Update</button>
            </div>
        </div>
        
    </div>
</div>
