@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.card-container{
    border: 1px sol/id black;
    height: 350px;
    width: 270px;
    background-color: #83CC98;
    border-radius: 15px;
    align-items: center;

}
.card-image-container{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image{
    margin-top: 30px;
    height: 100%;
    width: 80%;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 95%; /* Make the image take up the entire container width */
    height: 95%; /* Make the image take up the entire container height */
    object-fit: cover; /* Resize the image to cover the entire container while maintaining aspect ratio */
  
}

.card-name-container{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-name{
    font-family: 'Roboto', sans-serif;
    color:#00857A;

}