@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


.heading-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-heading{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-top: 70px;
    color: rgb(209, 231, 217);

}

.small-heading{
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(209, 231, 217);

}
.home-button{
    align-self: flex-end;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-button button{
    background-color:#83CC98;
    height: 30px;
    width: 160px;
    border: none;
    border-radius: 10px;
    color:#00857A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
